/* Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}

*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

/*-------------------- */


body{
  font-family: 'Klee One', cursive;
  background-color: rgb(82, 82, 82);
  color: white;
}

.container{
  max-width: 1270px;
  margin: 0 auto;
}

.btn{
  border-radius: 5px;
  background-color: rgb(255, 0, 98);
  font-size: 16px;
  color: white;
  transition: .2s linear;
}

.btn:hover{
  background-color: rgba(255, 0, 98, 0.808);
  color: rgb(255, 255, 255);

  transition: .2s linear;
}

.btn:active{
  background-color: rgba(255, 0, 98, 0.76);
  color: rgb(187, 187, 187);

  transition: .2s linear;
}


/* ----------------------loader--------------------------- */
.loader-container{
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}



/* -------------header----------------------------- */
.header{
  background-color: rgb(58, 58, 58); 
  box-shadow: 0px 14px 12px 0px rgba(0, 0, 0, 0.2);

}

.header .container{
  height: 170px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
}

.header__title{
  font-size: 40px;
  text-transform: uppercase;
}


/* ------------------search-------------------------------- */
.search .search__form{
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.search__input{
  width: 500px;
  height: 40px;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 17px;
}

.search__btn{
  width: 70px;
  height: 40px;
}


/* -------------------filter---------------------------- */
.filter{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.filter__input{
  height: 30px;
  width: 120px;
  border-radius: 5px;
  font-size: 17px;
  font-family: 'Klee One', cursive;
}

.filter__input:hover{
  background-color: rgb(230, 230, 230);
}


/* ---------------main content----------------------------------------------- */
.totalAmount{
  text-align: center;
  font-size: 25px;
  margin: 20px 0 40px;
}


/* ---------------------------books--------------------- */
.books{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}


/* -----------------------book's card---------------------------- */
.books__card{
  background-color: rgba(173, 173, 173, 0.514);
  width: 250px;
  height: 350px;
  box-shadow: 18px 8px 14px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  overflow: hidden;
}

.books__content{
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 40%;
  overflow: auto;
}

.books__img{
  background-color: white;
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 15px;
}

.books__img img{
  max-width: 100%;
  max-height: 100%;
  object-fit: scale-down;
}

.books__title{
  font-size: 17px;
  text-align: left;
  font-weight: 600;
  color: rgba(19, 19, 19, 0.911);
}

.books__categories{
  color:rgb(58, 58, 58);
  text-decoration: underline;
}

.books__authors{
  text-align: left;
}


/* ----------------------------btn-load-more ---------------------------------*/
.btn-load-more{
  margin: 20px 0 40px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-load-more button{
  width: 100px;
  height: 30px;
  border-radius: 5px;

}


/* ----------------------book-info--------------------------------------------------- */
.book-info .container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 30px 20px;
}

.book-info__img{
  width: 300px;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.884);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.book-info__img img{
  width: 85%;
  height: 85%;
  object-fit:contain;
}


.book-info__content{
  padding: 20px 30px;
  max-width: 70%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.book-info__categories{
  color: rgb(221, 210, 180);
}

.book-info__title{
  font-size: 20px;
  font-weight: bold;
  color: rgb(255, 254, 242);
}

.book-info__authors{
  color: rgba(235, 235, 235, 0.877);
  text-decoration: underline;
}

.book-info__descr{
  border-radius: 5px;
  margin: 20px 0px;
  padding: 20px;
  width: 100%;

  text-indent: 30px;
  letter-spacing: 1px;
  font-size: 16px;
  line-height: 18px;
  color: rgba(255, 255, 255, 0.856);
}

.descr-title{
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 17px;
  color: rgba(255, 255, 255, 0.932);
}


/* -----------------adaptive-------------------------------- */
@media (max-width:1270px) {
  .book-info .container{
    max-width: 900px;
  }

  .book-info__img{
    width: 200px;
    height: 200px;
  }
}


@media (max-width: 1140px){
  .container{
    max-width: 970px;
  }

  .header .container{
    justify-content: center;
  }

  
}

@media (max-width: 900px){
  .book-info .container{
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 30px;
  }

  .book-info__img{
    align-self: center;
    width: 400px;
    height: 400px;
  }

  .book-info__content{
    max-width: 100%;
  }

  .book-info__title{
    font-size: 18px;
  }
}


@media (max-width: 640px){
  .header .container{
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
  }

  .header__title{
    font-size: 25px;
  }

  .search__input{
    width: 300px;
  }

  .book-info__descr{
    font-size: 14px;
  }
}


@media (max-width: 400px){
  .header__title{
    font-size: 20px;
  }

  .search__input{
    width: 200px;
    height: 30px;
  }

  .btn{
    font-size: 14px;
  }

  .search__btn{
    width: 50px;
    height: 30px;
  }

  .book-info__img{
    width: 200px;
    height: 200px;
  }

  .book-info__title{
    font-size: 16px;
    font-weight: 500;
  }

  .book-info__descr{
    font-size: 13px;
  }
}
